.button {
    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    border-radius: 4px;
    border: none;
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.button:hover {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
}

.button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
}